.history/

bin/
  
# VisualStudioCode  
.vscode  

UE4ClientDemo/*

ActionClient/*

!ActionClient/ActionClient/
ActionClient/ActionClient/*
!ActionClient/ActionClient/Source/
ActionClient/ActionClient/Source/*
!ActionClient/ActionClient/Source/ActionClient/
ActionClient/ActionClient/Source/ActionClient/*

!ActionClient/ActionClient/Source/ActionClient/Public/
ActionClient/ActionClient/Source/ActionClient/Public/*
!ActionClient/ActionClient/Source/ActionClient/Public/RealTimeSrv/

!ActionClient/ActionClient/Source/ActionClient/Private/
ActionClient/ActionClient/Source/ActionClient/Private/*
!ActionClient/ActionClient/Source/ActionClient/Private/RealTimeSrv/
